@import "~normalize.css";

.title {
  font-size: 65px;
  text-align: center;
  color: #1C78C0;
}

.input-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-setting {
  width: 100%;
}

.dropdown-menu.show {
  width: 97%;
  text-align: center;
}

.note {
  padding: 15px;
  margin: 20px 0;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  .date {
    color: #999;
  }
}

.no-notes {
  margin: 20px;
  text-align: center;
  font-size: 27px;
  color: #777;
}